@import url("https://fonts.googleapis.com/css2?family=Acme&family=Righteous&family=Ubuntu+Condensed&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Righteous", cursive;
  text-align: center;
}
header {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
a {
  text-decoration: none;
  color: rgb(131, 194, 196);
}
footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 11px;
  margin-top: 2rem;
}

/* 
Stats Cards 
*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  height: 100%;
}
.cases-title {
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.5rem;
}
.cases-number {
  font-size: 3rem;
}
.confirmed {
  color: rgb(255, 213, 0);
}
.recovered {
  color: rgb(86, 199, 70);
}
.deaths {
  color: rgb(227, 61, 53);
}
.last-updated {
  color: rgb(131, 194, 196);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 11px;
}

/* 
Selector 
*/
#select-country,
#select-state {
  width: 15rem;
  height: 2rem;
  margin-top: 3rem;
  border: 1px solid rgb(143, 218, 235);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}
#select-state {
  margin-left: 1rem;
}

/* 
Chart Container 
*/
.chart-container {
  border: 2px solid rgb(4, 53, 63);
  padding: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  width: 45%;
  height: 45%;
  border-radius: 2rem;
}
@media only screen and (max-width: 800px) {
  .chart-container {
    width: 70%;
    height: 70%;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 520px) {
  #select-state {
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}

.map-container {
  border: red 1px solid;
  /* position: relative;
  margin: 0 auto; */
  /* width: 100%; */
}
